<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Vortex JavaScript Editor"
            extensions="js"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="vortexeditor.editors.Editor"
            id="com.kristophjunge.vortex-editor.editors.ClonedEditor">
      </editor>
   </extension>

</plugin>
